<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Formulario de envio</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div>
			<h1 class="d-flex justify-content-center">Usuarios cadastrados</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">NOME</th>
						<th scope="col">EMAIL</th>
						<th scope="col">OPÇÕES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}">Otto</td>
						<td th:text="${usuario.nome}">Otto</td>
						<td th:text="${usuario.email}">Otto</td>
						<td ><a class="btn btn-info" th:href="@{/editar(id=${usuario.id})}" >Editar</a> <a th:href="@{/remover(id=${usuario.id})}" class="btn btn-danger">Remover</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
		<a href="/home" class="btn btn-primary">Retornar</a>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>