<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pagina home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="d-flex justify-content-center">Menu do usuario</h1>
		<nav class="navbar bg-light">
			<a class="btn btn-sm btn-outline-secondary" href="/usuarios">Pagina de usuarios</a>
			<a class="btn btn-sm btn-outline-secondary" href="/relatorios?data=2022-01#">Pagina de Relatorios Suspeitos</a>
			<a class="btn btn-outline-success me-2"  href="/form">Pagina de upload de arquivos</a>
		</nav>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>