<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pagina home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="d-flex justify-content-center">Menu de Relatorios</h1>
		<div>
			<form action="" method="get" >
				<select class="form-select"
					aria-label="Default select example" name="data">
					<option selected>Open this select menu</option>
					<option value="2022-01">Janeiro de 2022</option>
					<option value="2022-02">Fevereiro de 2022</option>
					<option value="2022-03">Março de 2022</option>
					<option value="2022-04">Abril de 2022</option>
					<option value="2022-05">Maio de 2022</option>
					<option value="2022-06">Junho de 2022</option>
					<option value="2022-07">Julho de 2022</option>
					<option value="2022-08">Agosto de 2022</option>
					<option value="2022-09">Setembro de 2022</option>
					<option value="2022-10">Outubro de 2022</option>
					<option value="2022-11">Novembro de 2022</option>
					<option value="2022-12">Dezembro de 2022</option>
				</select> 
				<input type="submit" class="btn btn-primary mt-3">
			</form>
		</div>
		<div>
			<h1 class="d-flex justify-content-center">TRANSAÇÕES SUSPEITAS</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">BANCO ORIGEM</th>
						<th scope="col">AGENCIA ORIGEM</th>
						<th scope="col">CONTA ORIGEM</th>
						<th scope="col">BANCO DESTINO</th>
						<th scope="col">AGENCIA DESTINO</th>
						<th scope="col">CONTA DESTINO</th>
						<th scope="col">VALOR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dado : ${dados}">
						<td th:text="${dado.bancoOrigem}">BANCO ORIGEM</td>
						<td th:text="${dado.agenciaOrigem}">AGENCIA ORIGEM</td>
						<td th:text="${dado.contaOrigem}">CONNTA ORIGEM</td>
						<td th:text="${dado.bancoDestino}">BANCO DESTINO</td>
						<td th:text="${dado.agenciaDestino}">AGENCIA DESTINO</td>
						<td th:text="${dado.contaDestino}">CONTA DESTINO</td>
						<td th:text="${'R$' +#numbers.formatDecimal(dado.valorTransacao,3,'POINT',2,'COMMA')}">VALOR</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h1 class="d-flex justify-content-center">AGENCIAS SUSPEITAS</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">BANCO</th>
						<th scope="col">AGENCIA</th>
						<th scope="col">VALOR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="agencia : ${agencias}">
						<td th:text="${agencia.banco}">BANCO ORIGEM</td>
						<td th:text="${agencia.agencia}">AGENCIA ORIGEM</td>
						<td th:text="${'R$' +#numbers.formatDecimal(agencia.valorMovimentado,3,'POINT',2,'COMMA')}">VALOR</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h1 class="d-flex justify-content-center">CONTAS SUSPEITAS</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">BANCO</th>
						<th scope="col">AGENCIA</th>
						<th scope="col">CONTA</th>
						<th scope="col">VALOR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conta : ${Contas}">
						<td th:text="${conta.banco}">BANCO ORIGEM</td>
						<td th:text="${conta.agencia}">AGENCIA ORIGEM</td>
						<td th:text="${conta.conta}">CONTA ORIGEM</td>
						<td th:text="${'R$' +#numbers.formatDecimal(conta.Valor,3,'POINT',2,'COMMA')}">VALOR</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
		<a href="/home" class="btn btn-primary">Retornar</a>
		</div>
		
		
		
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>